html {
  font-size: 100%;
}

.elastic-body {
  font-size: 1em;
  font-family: georgia, serif;
  text-align: center;
  color: #444;
  background: #e6e6e6;
  padding: 0;
  margin: 0;
}

a.GlobalRedButton span {
  background: transparent url("../structure/img/buttons/button_left_red.png") no-repeat 0 0;
  display: block;
  line-height: 22px;
  padding: 7px 0 5px 18px;
  color: #fff;
}

a.GlobalRedButton {
  background: transparent url("../structure/img/buttons/button_right_red.png") no-repeat top right;
  display: block;
  float: left;
  height: 34px;
  padding-right: 20px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

a.GlobalRedButton:hover span {
  background-position: 0 -34px;
  color: #fff;
}

a.GlobalRedButton:hover {
  background-position: right -34px;
}

.grid-f5-header {
  background: #333;
}

.grid-f5-main .big-caption {
  background: red;
}
.grid-f5-main .two-windows {
  background: orange;
}
.grid-f5-main .two-windows .parent-nest {
  background: skyblue;
}
.grid-f5-main .two-windows .parent-nest .nest-wrapper {
  background: yellow;
}
.grid-f5-main .four-article {
  background: green;
}

.grid-f5-footer {
  background: hotpink;
}

.form-to-promise {
  background: #FFEF73;
}
.form-to-promise .wrap {
  height: 94px;
  padding-top: 42px;
  padding-bottom: 40px;
}
.form-to-promise .close-icon {
  position: absolute;
  top: 15px;
  right: 15px;
}
.form-to-promise .form-group {
  margin-left: 110px;
  width: 410px;
}
.form-to-promise .form-group .client-info {
  height: 32px;
}
.form-to-promise .form-group .client-info,
.form-to-promise .form-group .promise-text {
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid rgba(201, 201, 201, 0.8);
  border-radius: 4px;
}
.form-to-promise .form-group .promise-text {
  height: 140px;
}
.form-to-promise .inner {
  margin-left: 38px;
}
.form-to-promise .wood-button {
  display: block;
  margin-left: 80px;
  color: #fff;
}
.form-to-promise .wood-button .wood-button-text {
  background: brown;
  border-radius: 10px;
}

h2 {
  text-transform: uppercase;
  text-align: center;
}

a {
  text-decoration: none;
  color: brown;
}

meta.foundation-mq-small {
  font-family: "only screen and (min-width: 768px)";
  width: 768px;
}

meta.foundation-mq-medium {
  font-family: "only screen and (min-width:1280px)";
  width: 1280px;
}

meta.foundation-mq-large {
  font-family: "only screen and (min-width:1440px)";
  width: 1440px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* mobile */
.container {
  max-width: 100%;
  margin: 0 auto;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1280px;
  *zoom: 1;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

.col-12 {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
}

.col-6 {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
}

.col-3 {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
}

/* tablet Portrait screen 768px */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }

  .row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1280px;
    *zoom: 1;
  }
  .row:before, .row:after {
    content: " ";
    display: table;
  }
  .row:after {
    clear: both;
  }

  .col-12 {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    width: 100%;
    float: left;
  }

  .col-6 {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    width: 50%;
    float: left;
  }

  .col-3 {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    width: 25%;
    float: left;
  }
}
/* Medium screen desktop */
@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .col-offset-3 {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    margin-left: 25%;
    float: left;
  }

  .col-pull-1 {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    right: 8.33333%;
    left: auto;
    float: left;
  }

  .col-push-2 {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    left: 16.66667%;
    right: auto;
    float: left;
  }
}
header {
  background: #f0ecdf;
  width: 100%;
}

.btn-toggle {
  background: green;
  cursor: pointer;
  display: block;
  height: 30px;
  padding: 10px;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
}
.btn-toggle.collapse {
  background: red;
}

.nav-main {
  background: #20bc98;
  display: none;
  width: 100%;
}
.nav-main ul {
  list-style: none;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.thumbnail {
  background: #333;
  font-size: 0;
}
.thumbnail li {
  display: inline-block;
  font-size: 14px;
  padding: 20px;
  width: 33.33%;
}
.thumbnail li.disabled {
  opacity: 0.5;
}
.thumbnail li.disabled a {
  cursor: default;
}
.thumbnail li.disabled a img {
  opacity: 1;
  transform: scale(1, 1);
}
.thumbnail li.disabled .caption {
  display: none;
}
.thumbnail a {
  color: #fff;
  display: block;
  overflow: hidden;
  position: relative;
}
.thumbnail a:hover img {
  opacity: 0.6;
  transform: scale(1.2, 1.2);
  transition: transform 1s ease-in-out;
}
.thumbnail a:hover .caption {
  bottom: 0;
  transition: bottom .50s ease-in-out;
}
.thumbnail a:hover .share,
.thumbnail a:hover .download {
  opacity: 1;
  transition: opacity .50s ease-in-out;
}
.thumbnail a.active {
  border: 2px solid red;
}
.thumbnail .share {
  opacity: 0;
  background: green;
  display: block;
  position: absolute;
  top: 10px;
  transition: opacity .50s ease-in-out;
  right: 25px;
  width: 20px;
  z-index: 99;
}
.thumbnail .download {
  opacity: 0;
  background: red;
  display: block;
  position: absolute;
  top: 10px;
  transition: opacity .50s ease-in-out;
  right: 5px;
  width: 20px;
  z-index: 99;
}
.thumbnail img {
  width: 100%;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  transform: scale(1, 1);
  transition: transform 1s ease-in-out;
}
.thumbnail .caption {
  background: rgba(0, 0, 0, 0.75);
  bottom: -50%;
  display: block;
  color: #fff;
  line-height: 18px;
  position: absolute;
  width: 100%;
}

.counter {
  opacity: 0.4;
  background: #fff;
  color: #000;
  height: 25px;
  line-height: 25px;
  left: 25px;
  position: fixed;
  top: 5px;
}

.header-main {
  background: #f1deb5;
  float: left;
  width: 40%;
}
@media (min-width: 768px) {
  .header-main {
    width: 100%;
  }
}

.content-main {
  background: #1ac1b0;
  width: 60%;
  float: left;
}
@media (min-width: 768px) {
  .content-main {
    width: 100%;
  }
}

.btn-lang {
  background: green;
  cursor: pointer;
  display: block;
  height: 30px;
  top: 5px;
  left: 32%;
  padding: 10px;
  position: absolute;
  width: 30px;
}
@media (min-width: 768px) {
  .btn-lang {
    left: 95%;
  }
}

.btn-contact {
  background: #903d78;
  cursor: pointer;
  display: block;
  height: 30px;
  top: 5px;
  left: 25%;
  padding: 10px;
  position: absolute;
  width: 30px;
}
@media (min-width: 768px) {
  .btn-contact {
    left: 92%;
  }
}

.collapse {
  background: red;
}

.nav-lang {
  background: #b7ff90;
  display: none;
}

.nav-contact {
  background: #c389e1;
  display: none;
}
