@import "settings";
@import "compass";
@import "foundation/components/global";
@import "foundation/components/grid";	// Grid system

//Global Setting
*,
*:before,
*:after {
	@include box-sizing(border-box);
	margin:0;
	padding:0;

}


/* mobile */
.container {
	max-width:$screen-mobile;
	margin: 0 auto;
}

//Grid system
.row {
  @include grid-row();

}


.col-12 {
	@include grid-column(12);
}
.col-6 {
	@include grid-column(12);
}
.col-3 {
	@include grid-column(12);
}


/* tablet Portrait screen 768px */

@media (min-width:$screen-tab-portrait) {

		.container {
			max-width:$screen-tab-portrait;
			margin: 0 auto;
		}
		.row {
			@include grid-row();
		}
		.col-12 {
			@include grid-column(12);
		}
		.col-6 {
			@include grid-column(6);
		}
		.col-3 {
			@include grid-column(3);
		}
}

/* Medium screen desktop */
@media (min-width:$screen-desktop) {
		.container {
			max-width: $screen-desktop;
		}
}

@media (min-width: $screen-tab-landscape) {
	.container {
		max-width: $screen-tab-landscape;
	}
}

@media (min-width:$screen-lg-desktop) {
	.container {
		max-width: $screen-lg-desktop;
	}
	.col-offset-3 {
		@include grid-column($offset:3);
	}
	.col-pull-1 {
		@include grid-column($pull:1);
	}

	.col-push-2 {
		@include grid-column($push:2);
	}
}
//
//
// // Cool
// .thumbnail-cool {
//   background: orange;
//   font-size: 0;
//   margin-left: -20px;
//   margin-right: -20px;
//   li {
//     display: inline-block;
//     font-size: 16px;
//     height: 200px;
//     padding: 20px;
//     width: 25%;
//   }
//   a {
//     background: blue;
//     display: block;
//     height: 100%;
//     width: 100%;
//   }
//
//   @media (min-width:768px) {
// 
//     li {
//
//     }
//   }
// }
