//==== Variable Media query ====//
$screen-mobile: 100%;
$screen-tab-portrait:768px;
$screen-tab-landscape: 1024px;
$screen-desktop: 992px;
$screen-lg-desktop: 1200px;
$row-width: 1280px;

// Zurb Foundation _grid
$include-html-classes : false;  			// Eliminate unused styles
$default-float        : left;   			// Default float
$opposite-direction   : right;  			// Default oposite direction

//clearfix
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
