@import "settings";

.header-main {
  background: #f1deb5;
  float:left;
  width:40%;

  @media (min-width:$screen-tab-portrait){
    width:100%;
  }
}

.content-main {
  background: #1ac1b0;
  width: 60%;
  float: left;

  @media (min-width:$screen-tab-portrait){
    width: 100%;
  }
}

.btn-lang {
  background: green;
  cursor: pointer;
  display: block;
  height: 30px;
  top: 5px;
  left: 32%;
  padding: 10px;
  position: absolute;
  width: 30px;
  @media (min-width:$screen-tab-portrait){
    left: 95%;
  }
}

.btn-contact {
  background: #903d78;
  cursor: pointer;
  display: block;
  height: 30px;
  top: 5px;
  left: 25%;
  padding: 10px;
  position: absolute;
  width: 30px;
  @media (min-width:$screen-tab-portrait){
    left: 92%;
  }
}

.collapse {
  background: red;
}

.nav-lang {
  background: #b7ff90;
  display: none;
}

.nav-contact {
  background: #c389e1;
  display:none;
}
