//GlobalRedButton

a.GlobalRedButton span {
	background: transparent url("../structure/img/buttons/button_left_red.png") no-repeat 0 0;
	display: block;
	line-height: 22px;
	padding: 7px 0 5px 18px;
	color: #fff;
}

a.GlobalRedButton {
background: transparent url("../structure/img/buttons/button_right_red.png") no-repeat top right;
display: block;
float: left;
height: 34px;
padding-right: 20px;
text-decoration: none;
font:{
	family: Arial, Helvetica, sans-serif;
	size: 12px;
	weight:bold;
}
}

a.GlobalRedButton:hover span {
	background-position: 0 -34px;
	color: #fff;
}

a.GlobalRedButton:hover {
	background-position: right -34px;
}