@import "compass";
@import "settings";

header {
  background: #f0ecdf;
  width:100%;
}

.btn-toggle {
  background: green;
  cursor: pointer;
  display: block;
  height: 30px;
  padding: 10px;
  position: absolute;
  top:5px;
  right: 5px;
  width: 30px;
  &.collapse {
    background: red;
  }
}

.nav-main {
  background: #20bc98;
  display: none;
  width: 100%;
  ul {
    list-style: none;
  }
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.thumbnail {
  background: #333;
  font-size: 0;
  li {
    display: inline-block;
    font-size: 14px;
    padding: 20px;
    width: 33.33%;

    // Extends
    &.disabled {
      opacity: 0.5;
      a {
        cursor: default;
        img {
          opacity: 1;
          transform: scale(1, 1);
        }
      }
      .caption {
        display: none;
      }
    }
  }
  a {
    color: #fff;
    display: block;
    overflow: hidden;
    position: relative;
    &:hover{
      img {
        opacity:0.6;
        transform: scale(1.2, 1.2);
        transition: transform 1s ease-in-out;
      }
      .caption {
        // opacity: 1;
        // transition: opacity 1s ease-in-out;
        bottom: 0;
        transition: bottom .50s ease-in-out;
      }
      .share,
      .download {
        opacity: 1;
        transition: opacity .50s ease-in-out;
      }
    }
    &.active{
      border: 2px solid red;
    }
  }
  .share {
    opacity: 0;
    background: green;
    display:block;
    position:absolute;
    top:10px;
    transition: opacity .50s ease-in-out;
    right:25px;
    width: 20px;
    z-index:99;
  }
  .download {
    opacity: 0;
    background: red;
    display:block;
    position:absolute;
    top:10px;
    transition: opacity .50s ease-in-out;
    right:5px;
    width: 20px;
    z-index:99;
  }
  img {
    width: 100%;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    transform: scale(1,1);
    transition: transform 1s ease-in-out;
  }
  .caption  {
    background: rgba(0, 0, 0, 0.75);
    bottom: -50%;
    display: block;
    color: #fff;
    line-height:18px;
    position: absolute;
    width: 100%;
  }
}

.counter {
  opacity: 0.4;
  background: #fff;
  color: #000;
  height: 25px;
  line-height: 25px;
  left: 25px;
  position: fixed;
  top: 5px;
}
