// GRID SYSTEM
// A structure made up of a series of intersecting guide lines used to
// structure content.
// -----------------------------------------------------------------------------

// Small screens
// Foundation settings
$row-width: $grid-row-width;
$total-columns: $grid-total-columns;
$last-child-float: $opposite-direction !default;

// Container
.container {
	margin: 0 auto;
	width: $row-width;
}

// Row
.row {
  @include grid-row();
  .medium-6 {
    @include grid-column(6);
  }
  .medium-5 {
    @include grid-column(5);
  }
  .medium-4 {
    @include grid-column(4);
  }
  .medium-3 {
    @include grid-column(3);
  }
  .medium-2 {
    @include grid-column(2);
  }
  .medium-1 {
    @include grid-column(1);
  }
}
