
.iasp {
  background: url('/img/love.jpg') no-repeat;
  background-size: cover;
}
.iasp-2 {

    h1, h2 ,h3, p {
      text-align: right;
      font-weight: bold;
      color: #1f70ff;

    }

    h3 {
      padding-top: 50px;
      padding-right: 100px;
      font-size: 70px;
      span {
        color: red;
        text-transform: uppercase;
      }
    }

    h2 {
      padding-right: 100px;
      font-size: 80px;
      span {
        text-transform: uppercase;
        font-weight: bold;
        color: red;
      }
    }

  h1 {
    text-transform: uppercase;
    padding-right: 100px;
    font-size: 90px;
    color: #ff7700;
    text-shadow: 2px 2px 2px #313131;
    border: 1px solid #848484;
  }
  p {
    padding-top: 30px;
    padding-right: 100px;
    font-size: 30px;
    color: black;
    text-transform: uppercase;
  }

}

.iasp-3 {
  background: #ffd321;
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
}
