// CONTENT
// Base-level typography
// The bridge between base-level tags and modules.
// This applies mainly to typography (fonts, colors).
// -----------------------------------------------------------------------------
// Headings
header {
  h1 {
    color: #23b6a2;
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    text-transform: uppercase;
  }
}


// -----------------------------------------------------------------------------
// Body copy
.post-header {
  padding-top: 40px;
  padding-bottom: 20px;
  h2,
  h3 {
    font-family: 'Roboto Slab', serif;
  }
  h2 {
    color: rgba(64, 205, 148, 0.1);
    font-size: 300px;
    line-height: .75em;
    position: absolute;
    right: -80px;
    text-transform: uppercase;
    top: 100px;
  }
  h3 {
    color: #202020;
    font-size: 38px;
    font-weight: 700px;
    text-transform: uppercase;
  }
  p {
    color: #98b0a6;
    font-family: 'Raleway', sans-serif;
  }
}
.content {
  p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 1.5em;
  }
}

// -----------------------------------------------------------------------------
// Emphasis



// -----------------------------------------------------------------------------
// Lists



// -----------------------------------------------------------------------------
// Links



// -----------------------------------------------------------------------------
// Utilities


// -----------------------------------------------------------------------------
// Custom Submodules
